<ion-view title="Am I ready for a pup?" id="page6">
    <ion-content padding="true" style="background: url(img/SMdiPB5BSZeVGiyF2UbV_background.png) no-repeat center;" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <div>
            <a href="#">
                <img class="puppy" width="100%" height="100%" src="https://media.giphy.com/media/NfMUuGEJoB7pu/giphy-downsized-large.gif" align="middle">
            </a>
        </div>
    </ion-content>
</ion-view>