<ion-view title="Dog Run!" id="page3">
    <ion-content padding="true" style="background: url(img/hzA5YoPQj6MSyVzLXauR_giphy.gif) no-repeat center;" class="has-header">
        <h1 id="dogRun-heading2" style="color:#C9ECCC;font-weight:600;text-align:center;"></h1>
        <div class="spacer" style="height: 100px;"></div>
        <div class="spacer" style="height: 100px;"></div>
        <div class="spacer" style="height: 100px;"></div>
        <div class="spacer" style="width: 300px; height: 101px;"></div>
    </ion-content>
</ion-view>