<ion-view title="Puppy Power!" id="page5">
    <ion-content padding="true" style="background: url(img/y9d4Ro68QLGmW65oRF6u_background.png) no-repeat center;" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.cuteWars">
                <img src="img/3t8YTBkRyuPf6mty6mNY_cute_puppy.jpg">
                <h2>Cuteness war!</h2>
                <p>Check out pup pics!</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.dogRun">
                <img src="img/Qz9mrVDaQFO4wGF4fjiK_running_with_dogs.jpg">
                <h2>Dog Run!</h2>
                <p>Find a furry runner!</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.puppyPlayDate">
                <img src="img/sPCsLz11Tcm2cS6qyo8a_dog_park.jpg">
                <h2>Puppy Play Date!</h2>
                <p>Find closeby pup friends!</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="tabsController.amIReadyForAPup">
                <img src="img/kxEjX4SQsaMBpHXrszqi_puppy_questions.jpg">
                <h2>Am I ready for a dog?</h2>
                <p>Take a quick quiz!</p>
            </ion-item>
        </ion-list>
        <div style="text-align:center;">
            <img src="img/9lRlia8yTy6nf4xDl4Gp_logo-1-green.svg" width="60%" height="auto">
        </div>
    </ion-content>
</ion-view>