<ion-view title="Page" id="page6" style="background-color:#A5CCDD;">
    <ion-content padding="true">
        <h1 id="page-heading2" style="color:#000000;">PuppyLift</h1>
        <div style="text-align:center;">
            <img src="img/TZtpnSBKQ82WHwU0ybOL_dog.jpg" width="80%" height="auto">
        </div>
        <div style="margin-right:-20px;">
            <button id="page-button10" style="left:-10px;border-radius:16px 16px 16px 16px;" class="button button-positive button-large button-full button-clear icon ion-ios-paw">Tap Me</button>
        </div>
        <div class="button-bar"></div>
        <form class="list">
            <label class="item item-input">
                <input type="email" placeholder="Sign Up  for More puppies!">
            </label>
        </form>
    </ion-content>
</ion-view>